name: publish

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - id: node-cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ hashFiles('package-lock.json') }}
      - if: ${{ steps.node-cache.outputs.cache-hit != 'true' }}
        run: npm ci
      - id: tests-node-cache
        uses: actions/cache@v4
        with:
          path: integration/node_modules
          key: ${{ hashFiles('integration/package-lock.json') }}
      - if: ${{ steps.tests-node-cache.outputs.cache-hit != 'true' }}
        run: npm --prefix integration ci
      - id: build-cache
        uses: actions/cache@v4
        with:
          path: build
          key: ${{ github.sha }}
      - if: ${{ steps.build-cache.outputs.cache-hit != 'true' }}
        run: npm run release

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          registry-url: https://registry.npmjs.org/
      - id: node-cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ hashFiles('package-lock.json') }}
      - if: ${{ steps.node-cache.outputs.cache-hit != 'true' }}
        run: npm ci
      - id: build-cache
        uses: actions/cache@v4
        with:
          path: build
          key: ${{ github.sha }}
      - if: ${{ steps.build-cache.outputs.cache-hit != 'true' }}
        name: Require cache
        run: exit 1
      - run: npm publish --provenance

  publish-gpr:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          registry-url: 'https://npm.pkg.github.com'
          scope: ${{ github.repository_owner }}
      - uses: actions/checkout@v4
      - id: node-cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ hashFiles('package-lock.json') }}
      - if: ${{ steps.node-cache.outputs.cache-hit != 'true' }}
        run: npm ci
      - id: build-cache
        uses: actions/cache@v4
        with:
          path: build
          key: ${{ github.sha }}
      - if: ${{ steps.build-cache.outputs.cache-hit != 'true' }}
        name: Require cache
        run: exit 1
      - run: npm init -y --scope ${{ github.repository_owner }}
      - run: npm config set registry 'https://npm.pkg.github.com'
      - run: echo '//npm.pkg.github.com/:_authToken=${{ github.token  }}' > ${{ github.workspace }}/.npmrc
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ github.token }}
